body {
    color: #333;
}
a:hover {
    text-decoration: none
}
/*FAIXA TOPO*/
.topo {
    background:#c90000;
    width: 100%;
    float: left;
    height: 22px;
    padding: 0;
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
}
.topo .sobre-nos-topo {
    margin: 3px 0;
}
.topo a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 0 5px;
}
.topo p {
    letter-spacing: 0.5px;
    margin-top: -1px;
}
.topo .tel {
    padding: 4px 0 7px 0;
}
.topo a.redes-topo i {
    margin: 0;
    font-size: 20px;
    padding: 1px 0;
    text-align: center;
    color: #fff;
}

/*FIM FAIXA TOPO*/
/*INICIO CONTATO HEADER*/
.logo-info-contato {
    float: left;
    width: 100%;
    padding-top: 5px;
}
.contato-header {
    float: left;
    width: 100%;
}
.contato-header .icone {
    float: left;
    width: 100%;
}
.contato-header .icone {
    float: left;
    width: 100%;
}
/*
.logo-info-contato .barra-pesquisa{
    float: right;
}
.logo-info-contato .btn-pesquisa {
    float: right;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}
*/
.contato-header .icone p {
    font-size: 13px;
    margin: 7px 0;
    font-weight: bold;
    line-height: 21px;
    color: #006a6b;
}
.contato-header .icone .endereco {
    margin-top: 20px;
}
.contato-header .icone p a {
    color:#006a6b
}
.contato-header .icone img {
    float: left;
    padding: 0 16px 0 0;
}
/*FIM CONTATO HEADER*/

/*INICIO HEADER*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    margin: 0 auto 10px 0;
    box-shadow: 0 1px 13px 2px #006a6b;
}
header .logo {
    float:left;
    margin:3px 0
}
header .logo a {
    display:block;
    text-decoration:none
}
header .logo img {
    width: 80%;
    margin: -7px 0 6px 0;
}
/* FIM HEADER */

/* INICIO MENU */
.menu {
    margin-top: 5px;
    text-align: center;
    background: #006a6b;
    margin-bottom: -17px;
    border: 1px solid #455f60;
}
.menu-list {
    padding:0;
    margin:0
}
.menu .menu-list,.menu .sub-menu {
    list-style:none
}
.menu a {
    color:#fff;
    text-decoration:none;
    display:block;
    cursor:pointer
}
.menu > .menu-list > li {
    display:inline;
    position:relative;
    margin: 0px 20px;
}
.menu > .menu-list > li > a {
    display:inline-block;
    padding:10px 20px;
    margin:0;
    font-weight: bold; 
    transition: all 0.5s; 
}
.menu > .menu-list > li:hover > a {
    color: #e14e21;
    border-radius: 5px;
    transition: all 0.5s;
}
.menu > .menu-list > li:hover > .sub-menu {
    display:block
}
.menu > .menu-list > li > .sub-menu {
    position: absolute;
    left: -8px;
    min-width: 135px;
    z-index: 100;
    display: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 13px;
}
.menu > .menu-list > li > .sub-menu > li > a {
    padding: 8px;
    background: #008b8de6;
    border: 1px solid #008b8de6;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
.menu > .menu-list > li > .sub-menu > li:hover > a {
    background:#008b8dc7;
}
.menu > .menu-list > li > .sub-menu > li:hover > .sub-menu-menu {
    display:block
}
.menu > .menu-list > li > .sub-menu > li > .sub-menu-menu {
    position: absolute;
    left: -8px;
    min-width: 135px;
    z-index: 100;
    display: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 13px;
    margin-left: 143px;
}
.menu > .menu-list > li > .sub-menu > li > .sub-menu-menu > li {
    list-style: none;
    margin-top: -35px;
    margin-bottom: 35px;
}
.menu > .menu-list > li > .sub-menu > li > .sub-menu-menu > li > a {
    padding: 8px;
    background: #008b8de6;
    border: 1px solid #008b8de6;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
.menu > .menu-list > li > .sub-menu > li > .sub-menu-menu > li:hover > a {
    background:#008b8dc7;
}
.menu > .menu-list > li > .sub-menu > li:hover > .sub-menu-menu .sub-menu-mulher {
    display:block
}
.menu > .menu-list > li > .sub-menu > li > .sub-menu-menu .sub-menu-mulher {
    position: absolute;
    left: -8px;
    min-width: 135px;
    z-index: 100;
    display: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 13px;
    margin-left: 8px;
    margin-top: -115px;
}
.menu > .menu-list > li > .sub-menu > li > .sub-menu-menu > .sub-menu-mulher > li {
    list-style: none;
    margin-top: -35px;
    margin-bottom: 35px;
}
.menu > .menu-list > li > .sub-menu > li > .sub-menu-menu > .sub-menu-mulher > li > a {
    padding: 8px;
    background: #008b8de6;
    border: 1px solid #008b8de6;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
.menu > .menu-list > li > .sub-menu > li > .sub-menu-menu > .sub-menu-mulher > li:hover > a {
    background:#008b8dc7;
}
/*INICIO ENTRE EM CONTATO HOME*/
.entre-em-contato {
    float: left;
    width: 100%;
    background: #408cff;
    margin-top: 10px;
}
.entre-em-contato p {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    float: left;
}
.entre-em-contato a {
    font-size: 60px;
    margin-right: 80px;
    color: #ffffff;
    float: right;
}
/*FIM ENTRE EM CONTATO HOME*/
/* Menu Mobile */
.slicknav_btn {
    background-color:#000
}
.slicknav_menu {
    background-color:#292929
}
.slicknav_brand a {
    color:#fff;
    font-size:14px;
    display:block;
    padding:0px 5px;
    font-weight:bold
}
.slicknav_brand a:active, .slicknav_brand a:hover, .slicknav_brand a:focus {
    text-decoration:none
}
/*INICIO SERVÇOS HOME*/
.servicos {
    float: left;
    width: 100%;
    background: #fff;
}
/*FIM SERVÇOS HOME*/

/* Rodapé */
footer {
    padding: 30px 15px 0 15px;
    background-color:#fff;
    color:#006a6b;
    margin-top:0;
    float: left;
    width: 100%;
    border-top: 1px solid #006a6b;
}
footer h5 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
footer ul {
    list-style-type:none;
    padding:0px
}
footer p {
    font-size: 14px;
    letter-spacing: 0.6px;
    color: #006a6b;
    margin: 5px 0;
    line-height: 20px;
}
footer li {
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 22px;
}
footer a {
    text-decoration: none !important;
    color: #006a6b;
    text-transform: none;
}
footer iframe {
    border: none;
    width: 100%;
    float: left;
    height: 180px;
}
footer .footer-copyright {
    padding:30px 0 5px 0;
}
footer .footer-copyright a {
    text-decoration:none;
}
footer .ass-q {
    text-align:right;
    font-size:14px;
    margin:0
}
footer .text-right {
    margin-top: 10px;
}
footer hr {
    margin-bottom: 0;
}
footer .logo p {
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 20px;
    color: #006a6b;
    padding: 0 25px;
}
footer .footer-copyright p.desenvolvido {
    margin: 0 20px;
    padding-bottom: 0;
    line-height: 4;
}
/* DESENVOLVIDO POR ABSOLUT SBO */
footer .footer-copyright p.absolutsbo {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 13px;
    letter-spacing: 0.5px
}
footer .footer-copyright p.absolutsbo strong {
    color:#ff5726;
}
footer a.redes-footer i{
    font-size: 30px;
    margin-left: 20px;
}
.baixa-absolut {
    border: 1px solid #ff5726;
    width: 40px;
    margin: 13px auto 5px auto;
    border-radius: 25px
}
/* FIM DESENVOLVIDO POR ABSOLUT SBO */
/* BOTÕES LATERAL/FIXO */
.btn-fixo a {
    position: fixed;
    right:0;
    align-items: center;
    text-decoration: none;
    transition: 0.3s all ease;
    box-shadow: -1px 2px 3px 1px #888888b0;
    font-size: 28px;
    border-radius: 30px;
    background: #fff;
    z-index: 100000
}
.btn-fixo a.btn-telephone i {
    color: #006a6b;
}

.btn-fixo a.btn-whatsapp i {
    color: #00FF00;
}
.btn-fixo a.btn-mail i {
    color: red;
}
a.btn-telephone {
    top: 473px;
    padding: 11px 12px;
    transition: 0.6s all;
    margin-right: 15px;
    background-color: #eaeaea;
}
a.btn-whatsapp {
    top: 408px;
    transition: 0.6s all;
    padding: 11px 14px;
    margin-right: 15px;
    background-color: #eaeaea;

}
a.btn-mail {
    top: 535px;
    transition: 0.6s all;
    padding: 11px 12px;
    margin-right: 15px;
    background-color: #eaeaea;
}
.btn-fixo a:hover {
    background: #fff;
    transition: 0.6s all;
}
/* Main */
main h2 {
    font-size:22px
}
main.main-content p strong {
    font-weight:normal
}
/* Ajustes Mobile */
@media screen and (max-width: 40em) {
    .topo {
        display: none;
    }
    .container.header-container-main {
        display: none;
    }
    .theme-default-nivo-slider .nivo-caption a.btn-whatsapp-home, .theme-default-nivo-slider .nivo-caption a.btn-home {
        display:none
    }
    .btn-fixo a {
        display: none;
    }    
}
@media screen and (max-width: 768px) {
    .menu > .menu-list > li {
        margin: 0px 9px;
    }
    .menu {
        margin-top: 119px;
        height: 41px;
    }
}