main.main-content {
    margin-top: 170px;
    background: #006a6b1f;  
}
.sobre-nos {
  float: left;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.sobre-nos h2 {
	text-align: center;
  font-size: 34px;
  margin-bottom: 8px;
  color: #006a6b;
}
.sobre-nos h3 {
  font-size: 22px;
  text-align: center;
  color: #006a6b;
}
.sobre-nos p {
  text-align: center;
  letter-spacing: 0.6px;
}
.sobre-nos hr {
  border-top:2px solid #ee3400;
  width: 10%;
  margin-top: 0;
  margin-bottom: 40px;
}
/*FIM SOBRE NOS*/

.col-xs-12.col-sm-4.col-md-4.col-lg-4 {
  padding: 0;
}
.sobre-nos .content {
  position: relative;
  width: 95%;
  max-width: 392px;
  margin: 8px 0;
  overflow: hidden;
  height: 220px;
  padding-top: 20px;
  border: 1px solid #ee3400;
  box-shadow: 0 0 3px 0 #333;
  border-radius: 5px;
}
.sobre-nos h3.missao{
  padding-top: 50px !important;
}
.sobre-nos .content .content-overlay {
  background: rgb(224 237 237);
  position: absolute;
  height: 220px;
  width: 100%;
  left: 0px;
  top: 0px;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 0;
}
.sobre-nos .content:hover .content-overlay {
  opacity: 1;
}
.sobre-nos .content-image {
	width: 100%;
 height: 300px;
}
.sobre-nos .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.sobre-nos .content:hover .content-details {
  top: 54%;
  left: 50%;
  opacity: 1;
}
.sobre-nos .content-details h3 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.sobre-nos .content-details p {
	color: #333;
  font-size: 14px;
  line-height: 24px;
  margin: 25px 0;
}
.sobre-nos .content-details p.btn-content {
  background: #003;
  width: 35%;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
}
.sobre-nos .fadeIn-bottom{
  top: 80%;
}
.sobre-nos .fadeIn-top{
  top: 20%;
}
.sobre-nos .fadeIn-left{
  left: 20%;
}
.sobre-nos .fadeIn-right{
  left: 80%;
}