main.main-content {
    margin-top: 170px; 
    margin-bottom: 170px 
}

/*css - produtos*/

main.main-content h1.title-produtos{
	margin-top: 100px;
	margin-bottom: 70px;
	border-bottom: 2px solid #006a6b;
	padding-bottom: 30px;
	color: #000;
}
main.main-content .descricao img.img-produtos{
	width: 76%;
	margin-left: 50px;
}
main.main-content .descricao h2{
	color: #006a6b;
	font-size: 30px;
}
main.main-content .descricao h2.advertencias{
	color: #FF0000;
}
main.main-content .descricao hr{
	border-top: 2px solid  #006a6b;
    width: 35%;
    margin-top: 35px;
    margin-bottom: 35px;
}
main.main-content .descricao a.compre-aqui{
	text-decoration: none;
	padding: 10px 20px;
	background-color: #00FF00;
	border-radius: 30px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	transition: 0.8s;
	margin: 10px;
}
main.main-content .descricao a.compre-aqui:hover{
	background-color: #1fb61f;
}
main.main-content .descricao a.compre-aqui i{
	margin-right: 5px;
}
main.main-content .descricao p{
	letter-spacing: 0.8px;
	color: #1C1C1C;
}
main.main-content .descricao ul li{
	margin-bottom: 10px;
}
main.main-content .descricao .img-vantagens h3{
	color:#FF0000;
}
main.main-content .descricao .img-vantagens h3.cabelos{
	margin-left: 104px;
}
main.main-content .descricao .img-vantagens .vantagens-1{
	padding-top: 40px;
	padding-bottom: 23px;
	margin-right: :5px;
}
main.main-content .descricao .img-vantagens .vantagens-1:hover img{
	width: 55%;
	margin-left: 57px
}
main.main-content .descricao .img-vantagens .vantagens-2{
	padding-top: 40px;
	padding-bottom: 18px;
	margin-right: :5px;
}
main.main-content .descricao .img-vantagens .vantagens-2:hover img{
	width: 55%;
	margin-left: 57px
}
main.main-content .descricao .img-vantagens .vantagens-3{
	padding-top: 40px;
	padding-bottom: 13px;
	margin-right: :5px;
}
main.main-content .descricao .img-vantagens .vantagens-3 img{
	width: 40%;
}
main.main-content .descricao .img-vantagens .vantagens-3:hover img{
	width: 45%;
	margin-left: 57px
}
main.main-content .descricao .img-vantagens .vantagens-4{
	padding-top: 40px;
	padding-bottom: 0px;
	margin-right: :5px;
}
main.main-content .descricao .img-vantagens .vantagens-4:hover img{
	width: 55%;
	margin-left: 57px
}
main.main-content .descricao .img-vantagens img{
	width: 50%;
	margin-left: 63px;
	transition: 0.8s;
}
/* Fim css - Produtos */

/*Inicio Css - Página de Produtos */
.nossos-produtos {
  width: 100%;
  float: left;
  padding:40px 0;
}
.nossos-produtos .text-tittle {
  background: #c90000;
  margin: 35px 0;
}
.nossos-produtos h2 {
  font-size: 50px;
  margin-top: 14px;
  margin-bottom: 0;
  color: #fff;
  padding: 0;
  line-height: 33px;
}
main.main-content .nossos-produtos .caixa-prod.col-xs-12.col-sm-3.col-md-3.col-lg-3 {
  width: 22%;
  margin: 20px 17px;
  padding: 50px 30px;
}
.nossos-produtos .caixa-prod {
  border: 1px solid #c9000054;
  border-radius: 5px;
  box-shadow: 0 0 13px 2px #b1b1b185;
  text-align: center;
  margin-top: 50px;
}
.nossos-produtos .caixa-prod img {
  width: 100%;
  margin: 15px auto;
}
.descricao-prod h3 {
  text-align: center;
  font-size: 19px;
  text-transform: uppercase;
  color: #c90000;
  font-weight: 100;
  margin-top: 40px;
}
.descricao-prod p {
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  padding-bottom: 8px;
}
.autoplay .caixa-prod {
  margin: 0 30px
}
.autoplay .caixa-play {
  margin:0 30px;
}
.autoplay .caixa-play img {
  width: 88%
}
.caixa-play .descricao-prod {
    padding: 0 16px;
}
.nossos-produtos .autoplay .slick-track {
      opacity: 1;
    width: 3876px;
    margin-top: 44px;
    transform: translate3d(-2280px, 0px, 0px);
    height: 300px
}
.zoom {
  overflow: hidden;
  max-width: 88%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 300px;
}
.zoom:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 5px 0 #3333336e;
  padding: 20px 10px;
}
a.btn-entrectt {
  background: #006a6b;
  color: #fff;
  padding: 10px 17px;
  font-weight: 600;
  letter-spacing: 0.8px;
  border-radius: 20px 0px 20px 0px;
  transition: all 0.5s;
  margin-left: 79px;
}
a.btn-entrectt:hover {
  background: #c90000;
  transition: all 0.5s
}